
.genesis-nav-menu{
	font-size: 1.2em;
}

.site-header{
	background-color: #4f902f;
}

.more-link{
	display: block;
}

.branch-hours{
	margin-top: -27px;
	font-size: .92em;
}

.smaller{
	font-size: .9em;
}

.bigger{
	font-size: 2em;
}/*.header-image .title-area{	margin:-15px;}*/


h3:before { 
  display: block; 
  content: " "; 
  margin-top: -60px; 
  height: 60px; 
  visibility: hidden; 
}

.anchor { 
  display: block; 
  content: " "; 
  margin-top: -60px; 
  height: 60px; 
  visibility: hidden; 
}
